body {
  padding: 0px;
  border: 0px;
  background-color: black;
}
.box{
  border:1px solid white;
  border-radius: 20px;
  background-image: url('../Images/32.jpeg');
  background-size: cover;
  height: 400px;
  width: 200px;
  margin-left: 50px;
  margin-top: 60px;
}
h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: cursive;
  color: #6fa4ff;
}
input[placeholder="Name"] {
  border: 1px solid green;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  background: transparent;
  color: white;
}
input[placeholder="Number"] {
  border: 1px solid green;
  border-radius: 10px;
  width: 80%;
  margin-top: 10px;
  text-align: center;
  background: transparent;
  color: white;
}
input[placeholder="Email"] {
  border: 1px solid green;
  border-radius: 10px;
  width: 80%;
  margin-top: 10px;
  text-align: center;
  background: transparent;
  color: white;
}
input[type="radio"] {
  margin-top: 10px;
}
input[placeholder="Password"] {
  border: 1px solid green;
  border-radius: 10px;
  width: 80%;
  margin-top: 10px;
  text-align: center;
  background: transparent;
  color: white;
}
input::placeholder{
  color: #00c5cd;
  opacity: 1;
}
label{
  color: #00c5cd;
  opacity: 1;
}
input[name="address"] {
  border: 1px solid green;
  border-radius: 10px;
  width: 80%;
  margin-top: 10px;
  text-align: center;
  background: transparent;
  color: white;
}
input[placeholder="Feedback"] {
  border: 1px solid green;
  border-radius: 10px;
  width: 80%;
  margin-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  background: transparent;
  color: white;
}
button{
  border: 1px solid green;
  border-radius: 10px;
  margin: 15px 10px 5px 10px;
  text-align: center;
  background: transparent;
  color: Red;
  opacity: 1;
}
h4{
  color: #d353de;
  
}
.bottom{
  width: 100px;
  height: 50px;
  position: relative;
  margin-bottom:0px;
  margin-top: 80px;
  animation: down;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes down{
  0%{
    left: -50%;
    top: 0%;
  }
  100%{
  left: 120%;
  top: 0%;
  }
}
